<h1>Create a Survey</h1>

<div>
  <h3>Title</h3>
  <input id="title" value="Enter a title">
</div>

<div id="questions" align="center"></div>

<button id="save" class="btn btn-large btn-primary">Save</button>
