<% if object.errors.any? %>
<div id="errors">
  <div class="alert alert-error">
    Could not create account. Please fix the following error(s):
  </div>
  <ul>
    <% object.errors.full_messages.each do |m| %>
      <li><%= m %> </li>
    <% end %>
  </ul>
</div>
<% end %>
