<td style="text-align: left">
  <label id="questiontext"><%- text %></label>
  <input id="edittext" value="<%- text %>">
  <input type="checkbox" id="required">Required
  <button id="delete">Delete</button>
  <ol id="choices"></ol>
  <button id="addchoice">Add Answer Choice</button>
</td>
