<td style="text-align: left">
  <label id="questiontext"><%- text %></label>
  <input id="edittext" value="<%- text %>">
  <input type="checkbox" id="required">Required
  <button id="delete" class="btn btn-large btn-primary">Delete</button>
</td>
