<select name="Question type" id="questiontype">
  <option value="text">Text</option>
  <option value="multiplechoice">Multiple Choice</option>
  <option value="checkbox">Checkbox</option>
</select>
<button id="newquestion" class="btn btn-large btn-primary">New Question</button>
<table id="questions" class="table table-striped">
  <thead>
    <th>Question</th>
    <th></th>
  </thead>
  <tbody id="questionslist">
  </tbody>
</table>
